{% extends "base.html" %}

{% block body_block %}
    <div class="blogcontainer">


        <div class="row">
        {% for blog in blogCollection %}
            <div class="col-sm-3">
                <div class="thumbnail">
                    <a href="{% url 'personal:edit_blog' blog.slug %}">
                      <img src="{{ blog.image.url }}" style="width:100%">
                      <div class="caption">
                        <h3>{{ blog.title }}</h3>
                        <p>{{ blog.description }}</p>
                      </div>


                      <a href="{% url 'personal:delete_blog' blog.slug %}"><span class="glyphicon glyphicon-trash"></span></a>
                        &nbsp;&nbsp;
                    </a>
                </div>
            </div>

        {% endfor %}


        </div>
        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>

        {% endif %}

    </div>

{% endblock %}

