{% extends "base.html" %}

{% block body_block %}
    <div>
        <div class="search-bar">
            <form method="post" enctype="multipart/form-data" action="{% url 'personal:fake_image_search' %}">
                {% csrf_token %}
                <table>
                {{ image_form.as_table }}
                </table>

                <button class="btn-primary" type="submit">Search</button>
            </form>
            <a class="btn-link" href="{% url 'personal:fake_image_dataset' %}">Update Dataset </a>
            <div class="text-danger text-capitalize"><h1>{{ error_message }}</h1></div>
        </div>

        <div class="result-container container">
             <div class="row">
            {% for i in results %}
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="{{ i.1 }}">
                        <img src="{{ i.1 }}" alt="Lights" style="width:100%">
                        <div class="caption">
                          <p>{{ i.0 }}</p>
                        </div>
                      </a>
                    </div>
                  </div>
            {% endfor %}
             </div>
        </div>
    </div>


{% endblock %}

