{% extends "staffapplication/base.html" %}
{% block panel_block %}
    {% load widget_tweaks %}

    {% if messages %}
        {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="btn-group-sm">
                    <button class="btn btn-light mr-2" id="add">Add</button>
                    <button class="btn btn-light mr-2" id="update">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="add-reference">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">References</h4>
                <p class="card-description"> Add </p>
                <form class="forms-sample" method="post" action="{% url 'personal:add_references' %}">
                    {% csrf_token %}
                    {% for field in referenceForm.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
        </div>
    </div>
    <div class="update-reference" style="display: none">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="search-bar">
                        <form class="d-flex align-items-center h-100" method="get" id="reference-search">
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" name="search" class="form-control bg-transparent border-0" placeholder="Give description of reference">
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="referencecontainer" id="content-container">
                <div class="row">

                </div>
                <div class="btn-group-sm" id="pagination-button" >
                    <a class="btn btn-light disabled" href="#" id="prev-page" >&laquo;</a>
                    <a class="btn btn-light disabled" href="#" id="next-page" >&raquo;</a>
                </div>
        </div>


    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        "use strict";
        //Using session storage for back function
        var saveData = function() {
            if (!sessionStorage)
                return;
            var data = {
                // id: id,
                // scroll: $("#PostItemContainer").scrollTop(),
                html: $("#content-container").html()
            };
            sessionStorage.setItem("list_html",JSON.stringify(data));
        };

        var restoreData = function() {
            if (!sessionStorage)
                return;
            var data = sessionStorage.getItem("list_html");
            if (!data)
                return null;
            return JSON.parse(data);
        };


        function send_request(search){

            $.get(search, (data) => {
                let container = document.getElementsByClassName("row")[0];
                container.innerHTML = "";
                for(var i in data.results ) {
                    let reference = data.results[i];
                    let item = document.createElement("div");
                    item.setAttribute("class","card");
                    item.setAttribute("style","width: 18rem; margin: 1rem");
                    item.innerHTML  =     '<div class="card-body">'+
                                    '<p class="card-text">' + reference.refers +'</p>'+
                                    // TODO Try to make these urls dynamic
                                    '<a href= "api/personal/staffhome/editreference/'+reference.pk+'" class="card-link"><i class="mdi mdi-lead-pencil mdi-24px"></i></a>'+
                                    '<a href="api/personal/staffhome/deletereference/'+reference.pk+'" class="card-link"><i class="mdi mdi-delete mdi-24px"></i></a>'+
                                    '<a href="api/personal/staffhome/referencehistory/'+reference.pk+'" class="card-link"><i class="mdi mdi-history mdi-24px"></i></a>'+
                                    '</div>';
                    container.appendChild(item);

                }
                if( data.next ){
                    $("#next-page").attr("href", data.next);
                    $("#next-page").attr("class","btn btn-light");
                }else{
                    $("#next-page").attr('href', '#');
                    $("#next-page").attr("class","btn btn-light disabled");
                }

                if( data.previous ){
                    $("#prev-page").attr("href", data.previous);
                    $("#prev-page").attr("class","btn btn-light");
                }else {
                    $("#prev-page").attr('href', '#');
                    $("#prev-page").attr("class","btn btn-light disabled");
                }

                saveData();

            });
        }

        $( () => {
            //TODO this setting is for django CORS which is not working correctly, make it work
            $.ajaxSetup({xhrFields: { withCredentials: true } });
            let page = 1;

            $("#add").click(() => {
                 $(".add-reference").show();
                 $(".update-reference").hide();
            });
            $("#update").click(() => {
                 $(".add-reference").hide();
                 $(".update-reference").show();
            });


            $("#reference-search").submit((event) => {
                event.preventDefault();
                let search = "{% url 'personal:reference-list' %}?page="+page+"&"+$("#reference-search").serialize();
                send_request(search);
            });

            //back button feature
            {% if back %}
                $(".add-reference").hide();
                $(".update-reference").show();
                let data = restoreData();
                if( data )
                    $("#content-container").html(data.html);
                console.log(data);
            {% else %}
                //Default show all
                let search = "{% url 'personal:reference-list' %}?page="+page+"&"+$("#reference-search").serialize();
                send_request(search);
            {% endif %}

            //This is jquery delegation event handling for back button feature
            $("#pagination-button").on( 'click','#next-page', (event) => {
                event.preventDefault();
                send_request($(event.target).attr('href'));
                return false
            });

            //This is jquery delegation event handling for back button feature
            $("#pagination-button").on( 'click', '#prev-page', (event) => {
                event.preventDefault();
                send_request($(event.target).attr('href'));
                return false;
            });


        })

    </script>
{% endblock %}