{% extends "admin/base.html" %}
{% block panel_block %}
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="btn-group-sm">
                    <a class="btn btn-light mr-2" href="{% url 'personal:community_manager' %}">Add</a>
                    <a class="btn btn-light mr-2" href="{% url 'personal:show_community' %}">Update</a>
                </div>
                <br>
                <div class="search-bar">
                    <form class="d-flex align-items-center h-100" action="{% url 'personal:show_community' %}" method="get">
                      <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                          <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" name="filter_name" class="form-control bg-transparent border-0" placeholder="Give name of community">
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="communitycontainer">
        <div class="row">
        {% for community in communityCollection %}
            <div class="card" style="width: 18rem">
                <img src="{{ community.avatarimage.url }}" style="width:100%" class="card-img-top">
                <div class="card-body">
                        <h4 class="card-title">{{ community.name }}</h4>
                        <p class="card-text">{{ community.description }}</p>

                        <a href="{% url 'personal:edit_community' community.slug %}" class="card-link">Update</a>
                        <a href="{% url 'personal:delete_community' community.slug %}" class="card-link">Delete</a>
                </div>
            </div>
        {% endfor %}


        </div>
        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

{% endblock %}
